#Header .Logo{width:169px;height:42px;background:url(../images/logo_en.gif) no-repeat top right;}

#NavigationTabs{padding-left:360px}
/*#Content{font-size:12px}*/
/*#Footer{font-size:11px}*/
/*table{font-size:12px}*/


/* Product Page */
/*#product-carousel .item{ height: 400px;}*/
/*.product.carousel.slide .product-name {position: absolute; top: 10px; z-index: 99; margin-top: 3em; margin-left: 12em; width: 38em; }*/
/*.product.carousel.slide .product-name p{ font-size: 1.2em;}*/