body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
a, a:visited, a:hover{
	border: 0;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
#NavigationTabs{
	display: none;
}
#LanguageBar{
	display: none;	
}
#ProductList{
	display: none;	
}
#Header {margin-bottom: 3em;height: 2em;}
#Header h1{position: absolute; top: 0; right: 0; font-size: 18px;}
#Footer{margin-top: 5em;}

h1{
	font-size: 16px;
}
table.TwoColsLayout td{
	vertical-align: top;
}
/*** Images Start ***/
div.Products img, img.Photos{
	border: 1px solid #333;
	padding: 0.4em;
	margin: 1em;
	width: 200pt;
}
div.Products p img{
	float: right;	
}
div.Products img.NoFloat{
	float: none;
}
.TwoColsLayout .Right img{
	margin-right: 0;
}