body{padding:0;margin:0;color:#333;background:#32434F;font:12px Arial,Helvetica,sans-serif;word-spacing:0.3em;text-align:center}
img{border:0}
a,a:visited{border-bottom:1px dotted #3863AA;padding-bottom:0.1em;color:#3863AA;text-decoration:none;line-height:190%}
a:hover{color:#3863AA}
table{clear:both;border:none;border-spacing:0;border-collapse:collapse}
.Symbol{font-size:16px}
.Clear{clear:both}
.CenterText{text-align:center;}

/*** Header and Footer Starts ***/
#Wrapper{border-top:1em solid #24282B;width:expression(document.documentElement.clientWidth < 760 && navigator.userAgent.indexOf("msie 6.") ? "760px":"auto" );background:#FFF;text-align:left;line-height:160%;min-width:760px}
#Wrapper{background:#FFF;text-align:left;line-height:190%}
#Header{padding-top:31px;border-top:1px solid #8E9FAB;color:#fff;background:#32434F url("../images/header_brg.png") repeat-x top left}
#Header a,#Header a:visited,#Header a:hover{border:0;color:#fff;font-family:Arial,Helvetica,sans-serif}
#Header .Logo{padding-left:30px;border-width:0;position:absolute;top:44px;left:0px;overflow:hidden} /* Logo URL and width is defined in language css(zh.css or en.css). */
#Header .Logo a,#Header .Logo a:visited{width:169px;display:block;font-size:0px;height:42px;text-indent: -9999px;}
#Header .Logo{border-width:0;font-size:18px}
#Header .Logo a,#Header .Logo a:visited,#Header .Logo a:hover{font-size:18px}
#NavigationTabs{font-size:14px}
#Content{clear:both;padding:18px 10px 18px 10px;width:expression(document.documentElement.clientWidth < 760 && navigator.userAgent.indexOf("msie 6.") ? "760px":"auto" );width:expression(document.documentElement.clientWidth > 960 && navigator.userAgent.indexOf("msie 6.") ? "960px":"auto" );font-size:14px;min-width:740px;max-width:960px;}
#Footer{padding:1em 2em 1em 2em;color:silver;background:#32434F;text-align:left;line-height:normal;position:relative}
#Footer a{border:0;color:silver}
#LanguageBar{width:15em;color:#ccc;font-size:12px;text-align:right;position:absolute;top:1.5em;right:1em}
#LanguageBar a,#LanguageBar a:visited,#LanguageBar a:hover{color:#ccc;font-size:12px}
/*** End ***/

/*** UI Library Starts ***/
.Notes{background-color: yellow;border: 1px solid black; padding: 5px;}


/** --- drop shadow --- **/
.Shadow1{background:#C9C9C9;height:1px;overflow:hidden}
.Shadow2{background:#D1D1D1;height:1px;overflow:hidden}
.Shadow3{background:#DEDDDE;height:1px;overflow:hidden}
/** --- Blue tabs on dark blue background ---**/
div.BlueTabs{clear:both;margin-top:40px;border-top:1px solid #384A56;font-size:10px;overflow:visible}
div.BlueTabs div{float:left}
div.BlueTabs div.CurrentTab{margin-left:1em;background:#566C7C}
div.BlueTabs div.CurrentTab div{color:#fff;background:#566C7C url("../images/BlueTabsL.gif") no-repeat top left;cursor:default;}
div.BlueTabs div.CurrentTab span,div.BlueTabs div.CurrentTab a{padding:0.1em 0.8em;display:block;background:url("../images/BlueTabsR.gif") no-repeat top right;color:#fff;text-decoration:none}
div.BlueTabs div.Tab div{padding:0.25em 0;text-align:center;cursor:pointer}
div.BlueTabs div.Tab span,div.BlueTabs div.Tab a{padding:0px 8px;color:#fff;background:transparent;text-align:center;text-decoration:none}
div.BlueTabs div.Tab a:hover{text-decoration:underline}
div.BlueTabs div span.VerticalBar{padding-left:0px;padding-right:0;display:none;background:transparent;text-align:center}
/*** End ***/

/*** Page Content Styles Starts***/
table.TwoColsLayout{border-width:1;border-collapse:collapse}
table.TwoColsLayout td{border-width:1;vertical-align:top}
table.TwoColsLayout td.Left h3{margin-top:1em}
table.TwoColsLayout .Left{width:100%}

h1{clear:both;padding-bottom:0.3em;margin:0;padding-top:0.5em;color:#32536e;font-size:22px;font-weight:bold}
.bdnav{border-bottom:1px solid #999999;}
.bdnav a{border-bottom: none;}


h2{border-bottom:1px solid #999999;padding-bottom:0.2em;color:#32536e;font-size:14px;font-weight:bold;text-align:left}
h3{color:#32536e;font-size:14px;font-weight:bold}
p{margin-top:1em;margin-bottom:1em}
div.PageTitle{padding:0;background:#A6C1D4;line-height:0}
div.PageTitleBrg{height:158px;max-width:990px}
div.PageTitle img{margin:0;padding:0}
div.LeftAligned{float:left}
div.HalfWidth{width:48%;padding-right:2%}
div.HalfWidth + div.HalfWidth{padding-left:2%;padding-right:0}
div.HalfWidth h2{margin-top:0}
h2:first-child,h3:first-child{margin-top:0}
div.Products{margin:0;padding:0}
div.Products ul{margin-left:1.5em;padding:0}
/* -- Images Start -- */
div.Products img,img.Photos{border:1px solid #999;padding:0.4em;margin:1em; }
div.Products td.Right img{width: 300px;}
div.Products p img{float:right}
div.Products img.NoFloat{float:none}
.TwoColsLayout .Right img{margin-right:0}

/* category footer */
.cat-footer {background-color: #536d7f; padding: 18px; }
.cat-footer h1 { color: white; }
.cat-footer, .cat-footer a, .cat-footer a:hover, .cat-footer a:visited { color: white; font-size: 12px;}


/*** /Page Content Sytle End ***/

/*** Form Elements Style***/
Input.TallBox{font-size: 20px;}
Input.WideBox{width: 450px;}
Input.TallButton{font-size: 16px;}
/*** End ***/

/*** Error Content Style***/
#Content.Error{width: 600px;min-width: 600px;margin: 0 auto;}
#Content.Error h1{border-width: 0;text-align: center;}
/*** End ***/

dl{margin:0.5em}
/* Pending delete */
div.Features{width:10em;padding:1em;border:1px solid gray;background:yellow;position:absolute;right:0;top:0}
p.ShortDesp{margin-left:0em}
p.HighLight{font-weight:bold}
.Remark{font-style:italic}

/*** Tables Style Start ***/
/* -- DataTable -- */
table.DataTable{margin-left:1em}
table.DataTable thead{border:1px solid gray;padding:2px;background:#D4E1D5}
table.DataTable td{border:1px solid gray;padding:0.3em;vertical-align:top}
table.DataTable td img{border-width:0px;float:none;margin:0}
table.DataTable td input.Text{width:3em}
/* -- DataTable Ends -- */
/* -- Specification Table -- */
table.List{width:100%}
table.List th{padding:4px; font-weight: normal; text-align: left; vertical-align: top;}
table.List td{padding:4px}
table.List tr.even{background-color: #fff;} /* Not used by scripts for now */
table.List tr.odd{background-color: #dde4e9;} /* Not used by scripts for now */
table.List col.Title{width:11em;font-weight:bold}
table.List ul{margin: 0;}
/* -- Specification Table Ends -- */
/* -- Probe Option Table -- */
#ModelNameDesp thead{font-size:18px}
#ModelNameDesp td{text-align:center}
#ModelNameDesp tbody{font-size:12px}
/*** /Probe Option Table Ends ***/
/*** Big Page Titles ***/
#HomepageTitle .PageTitleBrg{height:265px}

#ProductsTitle .PageTitleBrg{background:url("../images/Product_Title_Brg.jpg") no-repeat top right;height:265px}
/*** /Big Page Titles ***/

/*** Page Specific Styles ***/
/* -- For homepage only -- */

#OurCustomers img{float:none;border:0;margin: 10px 0;padding:0}
#OurCustomers a:link,#OurCustomers a:visited{border:0;margin-top: 10px;}
#OurCustomers img{border: 0;}

/*全球客户页*/
#Clients td{border: 1px solid silver; padding: 38px;}
#Clients td img{width: 120px; height: 120px;}
#Clients a:link{border: 0;}